
{% load i18n %}{% autoescape off %}
{% blocktranslate %}Seems like you have forgotten your password at {{ site_name }}.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten that too is:' %} {{ user.get_username }}

{% translate "Thank you for using our site, perhaps try to remember your password !" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}